/* 

@media only screen and (max-width: 700px) {
    #course {
        display: list-item;
      background-color: lightblue;
      align-items: center;
      padding-left: 3cm;
      width: 500px;
    }
  }

  @media only screen and (max-width: 1200px) {
    #course {
    display:flex;
  }
}

@media only screen and (max-width: 1800px) {
    #course {
    display:flex;
  } */
}